// upload-dragger
.ant-upload.ac-upload-dragger {
  border: 5px dashed rgb(0 0 0 / 16%);
  border-radius: 5px;

  &:hover {
    border: 5px dashed #40a9ffd1;
  }
}

.ac-checkable-tag {
  user-select: none;
  background: #ededed;

  &.ant-tag-checkable-checked {
    background: #1890ff;
  }

  > [role="img"] {
    margin-left: 2px;
  }
}
