.ac-input-tags {
  &__tag {
    display: inline-block;
    background-color: #eee;
    font-size: 14px;
    font-family: 'Helvetica Neue', Arial;
    margin-right: 2px;
    margin-bottom: 2px;
    padding: 2px 4px;
    border-radius: 6px;
  }
  &__input {
    appearance: none;
    /* border: none; */
    background: none;
    outline: none;
  }
}
